/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/@coreui/coreui/dist/css/coreui.min.css";

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  /* background: #303030; */
  background: #F0F4F7;
  /* color: #fff; */
}

.cal-day-number {
  color: #212529 !important;
}

.cal-day-badge {
  display: none !important;
}

.mat-sort-header-arrow {
  color: white !important;
}