<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Front Desk</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/adminregistration">Admin</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/doctorlogin">Doctor</a>
                </li>

            </ul>
        </div>
    </div>
</nav> -->
<div>
    <h1 class="display-3 my-4 text-center heading" style="color: black;">Admin Registration</h1>

    <div *ngIf="!post" novalidate>
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form mx-auto">

            <mat-form-field appearance="outline" class="form-element">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Name" formControlName="name">
                <mat-error *ngIf="!name.valid && name.touched">
                    {{ titleAlert }}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-element">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email Address" formControlName="email">
                <mat-error *ngIf="!formGroup.controls['email'].valid && formGroup.controls['email'].touched">
                    {{ getErrorEmail() }}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-element">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password" formControlName="password" [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-hint>Choose a password of at least eight characters, one uppercase letter and one number
                </mat-hint>
                <mat-error *ngIf="!formGroup.controls['password'].valid && formGroup.controls['password'].touched">
                    {{ getErrorPassword() }}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-element">
                <mat-label>Allocate ID</mat-label>
                <input matInput placeholder="Allocate ID" formControlName="allocateid">
                <mat-error *ngIf="formGroup.controls['allocateid'].touched">
                    {{ titleAlert }}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-element">
                <mat-label>Occupation</mat-label>
                <input matInput placeholder="Occupation" formControlName="occupation">
                <mat-error *ngIf="formGroup.controls['occupation'].touched">
                    {{ titleAlert }}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-element">
                <mat-label>Status</mat-label>
                <input matInput placeholder="Status" formControlName="status">
                <mat-error *ngIf="formGroup.controls['status'].touched">
                    {{ titleAlert }}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-element">
                <mat-label>Account type</mat-label>
                <input matInput placeholder="Account Type" formControlName="account_type">
                <mat-error *ngIf="formGroup.controls['account_type'].touched">
                    {{ titleAlert }}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-element">
                <mat-label>Credits</mat-label>
                <input matInput placeholder="Credits" formControlName="credits">
                <mat-error *ngIf="formGroup.controls['credits'].touched">
                    {{ titleAlert }}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-element">
                <mat-label>DID</mat-label>
                <input matInput placeholder="DID" formControlName="did">
                <mat-error *ngIf="formGroup.controls['did'].touched">
                    {{ titleAlert }}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-element">
                <mat-label>PID</mat-label>
                <input matInput placeholder="PID" formControlName="pid">
                <mat-error *ngIf="formGroup.controls['pid'].touched">
                    {{ titleAlert }}
                </mat-error>
            </mat-form-field>

            <div class="form-element">
                <button mat-raised-button color="primary" type="submit" class="button"
                    [disabled]="!formGroup.valid">Register</button>
            </div>
            <div class="alert alert-success" role="alert" *ngIf="showSuccess">
                User Created Successfully
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="showError">
                {{ errorString }}
            </div>

        </form>
        <section class="mx-auto text-center">
            <div class="button-row mx-auto">
                <button mat-raised-button class="mx-3 my-3" color="primary" onclick="location.href='/adminlogin'">Admin
                    Login</button>
            </div>
        </section>
    </div>
    
</div>