<div>

    <h1 class="display-3 heading my-3">Vitals</h1>

    <hr>

    <div *ngIf="!post" novalidate>
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form mx-auto">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field appearance="outline" class="form-element">
                            <mat-label>Weight(kg)</mat-label>
                            <input matInput placeholder="Weight" formControlName="weight">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field appearance="outline" class="form-element">
                            <mat-label>Height(m)</mat-label>
                            <input matInput placeholder="Height" formControlName="height">
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field appearance="outline" class="form-element">
                            <mat-label>Temperature(F)</mat-label>
                            <input matInput placeholder="Fever" formControlName="fewer">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field appearance="outline" class="form-element">
                            <mat-label>BP(mmHg)</mat-label>
                            <input matInput placeholder="Blood Pressure" formControlName="bp">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field appearance="outline" class="form-element">
                            <mat-label>Pulse(bpm)</mat-label>
                            <input matInput placeholder="Blood Pressure" formControlName="pulse">
                        </mat-form-field>
                    </div>
                </div>
                
                <mat-dialog-actions class="text-center mx-auto">
                    <div class="row text-center mx-auto" style="width: 100%;">
                        <div class="col-md-6">
                            <div class="form-element">
                                <button mat-raised-button color="primary" type="submit" class="button"
                                    [mat-dialog-close]="true">Save</button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-element">
                                <button mat-raised-button color="warn" class="button" mat-dialog-close>Cancel</button>
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-success" role="alert" *ngIf="showSuccess">
                        Vitals Added Successfully
                    </div>
                    <div class="alert alert-danger" role="alert" *ngIf="showError">
                        {{ errorString }}
                    </div>
                </mat-dialog-actions>
            </div>

        </form>
    </div>
</div>
