<div>

    <!-- <h1 class="display-3 text-center heading my-3">Update Patient Details</h1> -->
    <mat-dialog-actions style=" margin-top: -20px">
        <span style="display:flex; justify-content:flex-end; width:100%; padding:0;">
            <button mat-icon-button mat-dialog-close>
                <mat-icon>close</mat-icon>
            </button>
        </span>
    </mat-dialog-actions>
    <h1 class="display-3 heading my-1 mx-auto text-center" style="margin-top: -2.75rem !important">Refund Amount</h1>

    <hr>

    <div *ngIf="!post" novalidate>
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form mx-auto">

            <div class="container-fluid">
                <mat-dialog-content>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="form-element">
                            <mat-label>Refund</mat-label>
                            <input type="number" matInput placeholder="Refund Amount" formControlName="refund">
                        </mat-form-field>
                    </div>

                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="form-element">
                            <mat-label>Reason</mat-label>
                            <input matInput formControlName="reason">
                        </mat-form-field>
                        <mat-error *ngIf="formGroup.controls['reason'].touched">
                            {{ titleAlert }}
                        </mat-error>
                    </div>
                </div>
                </mat-dialog-content>
                <mat-dialog-actions class="text-center mx-auto">
                    <div class="row text-center mx-auto" style="width: 100%;">
                        <div class="col-md-6">
                            <div class="form-element">
                                <button mat-raised-button color="primary" type="submit" class="button"
                                    [mat-dialog-close]="true">Save</button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-element">
                                <button mat-raised-button color="warn" class="button" mat-dialog-close>Cancel</button>
                            </div>
                        </div>
                    </div>
                </mat-dialog-actions>
            </div>

        </form>
    </div>
</div>
