<!-- <div class="container-fluid mx-auto"> -->
<!-- <app-admin-registration></app-admin-registration> -->
<!-- <app-doctor-registration></app-doctor-registration> -->
<mat-drawer-container class="example-container" autosize>
  <mat-toolbar color="primary" *ngIf="nav.visible">
    <button mat-icon-button class="example-icon" aria-label="Sidebar" data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
      <mat-icon>menu</mat-icon>
    </button>
    <span><a onclick="location.href='/doctordashboard'">Front Desk App - DCT</a></span>
    <span class="example-spacer"></span>
    <!-- <a href="/doctorlogin"> -->
    <button *ngIf="nav.calIcon" mat-icon-button class="example-icon" aria-label="Login" (click)="togglePatientRegistration()" matTooltip="Patient Registration">
      <mat-icon>how_to_reg</mat-icon>
    </button>
    <button *ngIf="nav.calIcon" mat-icon-button class="example-icon" aria-label="Login" (click)="toggleBillSummary()" matTooltip="Bill Summary">
      <mat-icon>receipt</mat-icon>
    </button>
    <button *ngIf="nav.calIcon" mat-icon-button class="example-icon" aria-label="Login" (click)="toggleAddServices()" matTooltip="Add Services">
      <mat-icon>medical_services</mat-icon>
    </button>
    <button *ngIf="nav.calIcon" mat-icon-button class="example-icon" aria-label="Login" (click)="toggleAddLabtest()" matTooltip="Add Labtests">
      <mat-icon>science</mat-icon>
    </button>
    <button *ngIf="nav.calIcon" mat-icon-button class="example-icon" aria-label="Login" (click)="openDialog()" matTooltip="Calendar">
      <mat-icon>calendar_month</mat-icon>
    </button>

    <button mat-icon-button class="example-icon" aria-label="Login" onclick="location.href='/doctorlogin'"  matTooltip="Logout">
      <mat-icon>login</mat-icon>
    </button>
    <!-- </a> -->
  </mat-toolbar>
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Sidebar</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div>
        Sample text
      </div>
      <div class="dropdown mt-3">
        <mat-form-field appearance="fill">
          <mat-label>Dropdown Select</mat-label>
          <mat-select>
            <mat-option value="one">First option</mat-option>
            <mat-option value="two">Second option</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
</mat-drawer-container>
<!-- </div> -->

<div @slideOutIn
  *ngIf="!(isPatientRegistrationShowing || isPatientListShowing || isBillSummaryShowing || isAddServicesShowing || isAddLabtestShowing)">
</div>

<div @slideInOut *ngIf="isPatientRegistrationShowing" class="box">
  <span style="display:flex; justify-content:flex-end; width:100%; padding:0;">
    <button (click)="togglePatientRegistration()" mat-icon-button class="closebutton">
      <mat-icon>close</mat-icon>
    </button>
  </span>
  <app-patient-registration></app-patient-registration>
</div>

<div @slideInOut *ngIf="isBillSummaryShowing" class="box">
  <span style="display:flex; justify-content:flex-end; width:100%; padding:0;">
    <button (click)="toggleBillSummary()" mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </span>
  <app-bil-summary></app-bil-summary>
</div>

<div @slideInOut *ngIf="isAddServicesShowing" class="box">
  <span style="display:flex; justify-content:flex-end; width:100%; padding:0;">
    <button (click)="toggleAddServices()" mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </span>
  <app-add-services></app-add-services>
</div>

<div @slideInOut *ngIf="isAddLabtestShowing" class="box">
  <span style="display:flex; justify-content:flex-end; width:100%; padding:0;">
    <button (click)="toggleAddLabtest()" mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </span>
  <app-add-labtest></app-add-labtest>
</div>



<router-outlet></router-outlet>