.example-spacer {
  flex: 1 1 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

.sidebarTitle {
  margin-bottom: 0 !important;
  line-height: 1.5 !important;
  font-size: 1.25rem !important;
  font-weight: bold !important;
}