<div class="container-fluid m-3 mx-auto">
  <!-- <app-admin-registration></app-admin-registration> -->
  <!-- <app-doctor-registration></app-doctor-registration> -->
  <section class="mx-auto">
    <div class="button-row mx-auto">
      <button mat-raised-button color="primary" onclick="location.href=''">Home</button>
      <button mat-raised-button color="primary" onclick="location.href='/adminregistration'">Admin</button>
      <button mat-raised-button color="primary" onclick="location.href='/doctorregistration'">Doctor</button>
      <button mat-raised-button color="primary" onclick="location.href='/adminlogin'">Admin Login</button>
    </div>
  </section>
</div>




<router-outlet></router-outlet>
