.example-spacer {
  flex: 1 1 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

.sidebarTitle {
  margin-bottom: 0 !important;
  line-height: 1.5 !important;
  font-size: 1.25rem !important;
  font-weight: bold !important;
}


mat-toolbar {
  height: 60px !important;
}

.toolbarButton {
  width: 60px !important;
  height: 60px !important;
}

.toolbarIcon {
  font-size: 30px !important;
  line-height: 30px !important;
  width: 30px !important;
  height: 30px !important;
}

.example-icon {
  color: #F0F4F7;
  background-image: linear-gradient(#F0F4F7, #F0F4F7);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size .5s, color .5s;
  border-radius: 0;
}

.example-icon:hover {
  background-size: 100% 100%;
  color: #3f51b5;
}