table {
  width: 100%;
  margin-top: 20px;
}

/* .form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.form-element {
    padding: 5px 0px 25px 2px;
    width: 100%;
} */

.button {
  width: 100%;
}

.heading {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.2;
}

/* .mat-form-field {
    font-size: 14px;
    width: 50%;
    text-align: center;
  }
  
  .form-field{
    width: 20%;
  } */

.success {
  background-color: #146c43;
  color: white;
}

.warning {
  background-color: #efbd29;
  color: black;
}

.print {
  background-color: lightblue;
  color: black;
}

.search-bar {
  background-color: #ffffff;
  height: 40px;
  border-radius: 20px;
  display: flex;
  padding: 10px;
  min-width: fit-content;
  width: max-content;
}

th {
  font-size: 1.1em;
  background-color: #3f51b5;
  /* font-weight: bold; */
  color: white;
}

@media screen and (max-width: 576px) {
  .mat-elevation-z8 {
    width: 100%; 
    overflow-x: auto;
  }
}
  

.redcolor {
  color: red;
}

.greencolor {
  color: green;
}

.search_box{
	background: #3F51B5;
	position: relative;
	padding: 15px;
	border-radius: 50px;
	display: flex;
}

.search_box .search_btn{
	width: 50px;
	border-radius: 50%;
	background: #5261b9;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	cursor: pointer;
}

.search_box .input_search{
	outline: none;
	border: 0;
	background: #5261b9;
	border-radius: 50px;
	padding: 15px 20px;
	width: 200px; 
	/* height: 50px; */
	color: #fff;
  caret-color: #fff !important;
}

::placeholder {
  color: #fff;
}

::-webkit-input-placeholder {
  color: #fff;
}

:-ms-input-placeholder {
  color: #fff;
}

.wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
}

.allocateid:hover{
  background-color: darkgray;
  cursor: pointer;
}