<!-- <div class="mat-elevation-z8" *ngIf="tableCreate">
  <h1 class="text-center my-4">Patient List</h1>
  

  <table #table mat-table [dataSource]="dataSource">

    
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="mobile">
      <th mat-header-cell *matHeaderCellDef> Mobile </th>
      <td mat-cell *matCellDef="let element"> {{element.mobile}} </td>
    </ng-container>

    <ng-container matColumnDef="update">
      <th mat-header-cell *matHeaderCellDef> Update </th>
      <td mat-cell *matCellDef="let element"> <button (click)="updateEmployee(element._id)" mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
        <mat-icon>edit</mat-icon>
      </button> </td>

    </ng-container>

    <ng-container matColumnDef="bill">
      <th mat-header-cell *matHeaderCellDef> Bill </th>
      <td mat-cell *matCellDef="let element"> <button (click)="updateEmployee(element._id)" mat-icon-button color="warn"
          aria-label="Example icon-button with a heart icon">
          <mat-icon>payment</mat-icon>
        </button> </td>

    </ng-container>

    <ng-container matColumnDef="view">
      <th mat-header-cell *matHeaderCellDef> Details </th>
      <td mat-cell *matCellDef="let element"><button (click)="updateEmployee(element._id)" mat-raised-button color="accent">View</button></td>

    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons 
                   aria-label="Select page of periodic elements">
    </mat-paginator>
</div> -->
<div class="container-fluid mt-4 col-sm-12">
  <!-- <h1 class="display-3 text-center heading my-3">Patient List</h1> -->
  <div class="row mx-auto justify-content-md-center" style="text-align: center;">
    <div class="col-md-3 col-sm-12 text-end wrapper">
      <div class="search_box" style="width: 100%">
        <div class="search_btn" style="margin-right: 15px">
          <mat-icon>search</mat-icon>
        </div>
        <input type="text" class="input_search" placeholder="Search" (keyup)="applyFilter($event)" style="width: 250px">
      </div>
      <!-- <mat-form-field class="mx-4 form-field" appearance="outline">
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field> -->
    </div>
    <div class="col-md-3 col-sm-12 text-start wrapper">
      <!-- <mat-form-field> -->
      <div class="search_box">
        <input matInput [matDatepicker]="picker" placeholder="Slot Date" id="filterdate"
          (dateChange)="filterallpatients($event)" [defaultValue]="todayDate | date: 'dd/MM/yyyy'" class="input_search">
        <div class="search_btn" style="margin-left: 15px;">
          <mat-datepicker-toggle matSuffix [for]="picker" style="color: white !important"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </div>
      </div>
      <!-- </mat-form-field> -->


      <!-- <mat-form-field appearance="outline" class="form-element">
        <mat-label>Slot Date</mat-label>
        <input matInput [matDatepicker]="picker" placeholder="Slot Date" id="filterdate"
          (dateChange)="filterallpatients($event)" [defaultValue]="todayDate | date: 'dd/MM/yyyy'">
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field> -->
    </div>
    <!-- <input type="date" id="filterdate" (change)="filterallpatients()"> -->
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="allocateid">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Patient ID </th>
        <td class="allocateid" mat-cell *matCellDef="let row" (click)="handledetails(row.allocateid)"> {{row.allocateid}} </td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Patient Name </th>
        <td mat-cell *matCellDef="let row"> {{row.name | titlecase}} </td>
      </ng-container>

      <ng-container matColumnDef="vitals">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Patient Vitals </th>
        <td mat-cell *matCellDef="let row">
          <div class="vitals btn dropdown-toggle" mat-raised-button (click)="handlevitals(row.allocateid)"
            color="primary" #tooltip="matTooltip" matTooltip="{{row.vitalTooltip}}" [matTooltipPosition]="'right'">
            <mat-icon>info</mat-icon></div>
        </td>
      </ng-container>

      <!-- Name Column -->
      <!-- <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Age </th>
        <td mat-cell *matCellDef="let row"> {{row.age}} </td>
      </ng-container>

      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
        <td mat-cell *matCellDef="let row"> {{row.gender}} </td>
      </ng-container> -->

      <ng-container matColumnDef="doctor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Doctor Name </th>
        <td mat-cell *matCellDef="let row"> <strong>Dr. {{row.doctor_name | titlecase}} </strong></td>
      </ng-container>

      <ng-container matColumnDef="slotdate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Appointment Date </th>
        <td mat-cell *matCellDef="let row"> {{row.slotdate}} </td>
      </ng-container>

      <ng-container matColumnDef="slottime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Appointment Time </th>
        <td mat-cell *matCellDef="let row"> {{row.time}} </td>
      </ng-container>

      <ng-container matColumnDef="followup">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Follow Up </th>
        <td mat-cell *matCellDef="let row">
          <!-- {{row.followup | yesNo }}  -->
          <mat-icon *ngIf="row.followup == false" class="redcolor">close</mat-icon>
          <mat-icon *ngIf="row.followup == true" class="greencolor">check</mat-icon>

        </td>
      </ng-container>


      <ng-container matColumnDef="update">
        <th mat-header-cell *matHeaderCellDef class="text-center"> Update </th>
        <td mat-cell *matCellDef="let row" class="text-center"> <button (click)="updateEmployee(row.allocateid)"
            mat-icon-button color="primary" aria-label="Example icon-button with a heart icon">
            <mat-icon>edit</mat-icon>
          </button> </td>

      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef class="text-center"> Status </th>
        <td mat-cell *matCellDef="let row" class="text-center">
          <button *ngIf="row.status == 'Paid'" (click)="handleBill(row._id)" mat-raised-button class="success">
            {{row.status}}
          </button>
          <button *ngIf="row.status == 'Pending'" (click)="handleBill(row._id)" mat-raised-button class="warning">
            {{row.status}}
          </button>
          <button *ngIf="row.status == 'Unpaid'" (click)="handleBill(row._id)" mat-raised-button color="warn">
            {{row.status}}
          </button>
        </td>

      </ng-container>

      <ng-container matColumnDef="print">
        <th mat-header-cell *matHeaderCellDef class="text-center"> Bill Print </th>
        <td mat-cell *matCellDef="let row" class="text-center">
          <button *ngIf="row.status == 'Paid'" (click)="handleprint(row._id, 'Paid')" mat-icon-button class="greencolor">
            <mat-icon>print</mat-icon>
          </button>
          <button class="print" *ngIf="row.status == 'Pending'" (click)="handleprint(row._id, 'Pending')"
          mat-icon-button class="greencolor">
            <mat-icon>print</mat-icon>
          </button>
          <button *ngIf="row.status == 'Unpaid'" (click)="handleprint(row._id, 'Unpaid')" disabled="true"
          mat-icon-button class="redcolor">
          <mat-icon>print</mat-icon>
          </button>
        </td>

      </ng-container>

      <!-- Fruit Column -->


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell text-center" colspan="9">No Appointments for the day!</td>
      </tr>
    </table>



    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator> -->
  </div>

</div>
<!-- <button class="mx-4 my-4" (click)="handleclick()" mat-raised-button color="primary">Homepage</button> -->