<!-- <div class="container-fluid">
    <div class="row m-2">
        <div class="col-4">
            <mat-card>1</mat-card>
        </div>
        <div class="col-4">
            <mat-card>2</mat-card>
        </div>
        <div class="col-4">
            <mat-card>3</mat-card>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-6">
            <mat-card>4</mat-card>
        </div>
        <div class="col-6">
            <mat-card>5</mat-card>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-8">
            <mat-card>6</mat-card>
        </div>
        <div class="col-4">
            <mat-card>7</mat-card>
        </div>
    </div>
</div> -->


<div class="container-fluid">
  <mat-grid-list cols="12" rowHeight="200px" class="m-4">
    <mat-grid-tile [colspan]="4" [rowspan]="1">
      <mat-card class="m-2">
        <mat-grid-list cols="4" rowHeight="50px">
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-icon class="bills-icon float-start">receipt_long</mat-icon>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="2" [rowspan]="1">
            <mat-card-title>Patients</mat-card-title>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="4" [rowspan]="2">
            <button mat-raised-button (click)="handlePatientList()" color="primary" class="m-3 billingButton">Patient List</button>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="4" [rowspan]="1">
      <mat-card class="m-2">
        <mat-grid-list cols="4" rowHeight="50px">

          <mat-grid-list cols="4" rowHeight="50px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-icon class="bills-icon float-start">receipt_long</mat-icon>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1">
              <mat-card-title>Patient Registeration</mat-card-title>
            </mat-grid-tile>

          </mat-grid-list>
          <mat-grid-tile [colspan]="4" [rowspan]="4">
            <!-- <div class="example-button-container"> -->
            <button (click)="handleclick()" mat-raised-button color="primary" class="m-3 patientButton">Add
              Patient</button>
            <!-- <button (click)="handleclick()" mat-fab color="primary" aria-label="Example icon button with a home icon">
                      <mat-icon>add</mat-icon>
                    </button> -->
            <!-- </div> -->
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="4" [rowspan]="1">
      <mat-card class="m-2">
        <mat-grid-list cols="4" rowHeight="50px">
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-icon class="bills-icon float-start">receipt_long</mat-icon>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="2" [rowspan]="1">
            <mat-card-title>Bill Summary</mat-card-title>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="4" [rowspan]="2">
            <button mat-raised-button (click)="handlebillsummary()" color="primary" class="m-3 billingButton">Bill Summary</button>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card>
    </mat-grid-tile>

    <!-- <mat-grid-tile [colspan]="4" [rowspan]="1">
      <mat-card class="m-2">
        <mat-grid-list cols="4" rowHeight="50px">
          <mat-grid-list cols="4" rowHeight="50px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-icon class="bills-icon float-start">bloodtype</mat-icon>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1">
              <mat-card-title>Blood Pressure</mat-card-title>
            </mat-grid-tile>
          </mat-grid-list>
          <mat-grid-tile [colspan]="1" [rowspan]="4">
            <mat-icon class="vitalsArrow">arrow_drop_up</mat-icon>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="3" [rowspan]="4">
            <div class="vitalsBig">120/80</div>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card>
    </mat-grid-tile> -->

    <mat-grid-tile [colspan]="6" [rowspan]="2">
      <mat-card class="m-2">
        <mat-grid-list cols="4" rowHeight="50px">
          <mat-grid-list cols="4" rowHeight="50px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-icon class="bills-icon float-start">medication</mat-icon>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1">
              <mat-card-title>Doctors</mat-card-title>
            </mat-grid-tile>
          </mat-grid-list>
          <mat-grid-tile [colspan]="4" [rowspan]="7">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Doctor</th>
                  <th scope="col" style="width:70%">patients</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">doctor 1</th>
                  <td><mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
                  </td>
                </tr>
                <tr>
                  <th scope="row">doctor 2</th>
                  <td><mat-progress-bar mode="determinate" value="30"></mat-progress-bar></td>
                </tr>
                <tr>
                  <th scope="row">doctor 3</th>
                  <td><mat-progress-bar mode="determinate" value="70"></mat-progress-bar></td>
                </tr>
                <tr>
                  <th scope="row">doctor 4</th>
                  <td><mat-progress-bar mode="determinate" value="50"></mat-progress-bar></td>
                </tr>
                <tr>
                  <th scope="row">doctor 5</th>
                  <td><mat-progress-bar mode="determinate" value="10"></mat-progress-bar></td>
                </tr>
                <tr>
                  <th scope="row">doctor 6</th>
                  <td><mat-progress-bar mode="determinate" value="65"></mat-progress-bar></td>
                </tr>
              </tbody>
            </table>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="6" [rowspan]="2">
      <mat-card class="m-2">
        <mat-grid-list cols="4" rowHeight="50px">
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-icon class="bills-icon float-start">monitor_heart</mat-icon>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="2" [rowspan]="1">
            <mat-card-title>Graph</mat-card-title>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="4" [rowspan]="7">
            <div id="chart-line">
              <apx-chart #vitalsChart [series]="chartOptions1.series" [chart]="chartOptions1.chart"
                [xaxis]="chartOptions1.xaxis" [dataLabels]="chartOptions1.dataLabels" [stroke]="chartOptions1.stroke"
                [title]="chartOptions1.title" [xaxis]="chartOptions1.xaxis" [grid]="chartOptions1.grid"
                [theme]="chartOptions1.theme"></apx-chart>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card>
    </mat-grid-tile>
    <!-- <mat-grid-tile [colspan]="8" [rowspan]="1">
      <mat-card class="m-2">6</mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4" [rowspan]="1">
      <mat-card class="m-2">7</mat-card>
    </mat-grid-tile> -->
    <mat-grid-tile [colspan]="12" [rowspan]="4">
      <mat-card class="m-2">
        <div class="row text-center">
          <div class="col-md-4">
            <div class="btn-group">
              <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay()">
                Previous
              </div>
              <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
                Today
              </div>
              <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay()">
                Next
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
          </div>
          <div class="col-md-4">
            <div class="btn-group">
              <div class="btn btn-primary" (click)="setView(CalendarView.Month)"
                [class.active]="view === CalendarView.Month">
                Month
              </div>
              <div class="btn btn-primary" (click)="setView(CalendarView.Week)"
                [class.active]="view === CalendarView.Week">
                Week
              </div>
              <div class="btn btn-primary" (click)="setView(CalendarView.Day)"
                [class.active]="view === CalendarView.Day">
                Day
              </div>
            </div>
          </div>
        </div>
        <br />
        <div [ngSwitch]="view">
          <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
            [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
            (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
          </mwl-calendar-month-view>
          <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"
            [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)">
          </mwl-calendar-week-view>
          <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events"
            [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)">
          </mwl-calendar-day-view>
        </div>

        <!-- Everything you see below is just for the demo, you don't need to include it in your app -->

        <!-- <br /><br /><br />
                  
                  <h3>
                    Edit events
                    <button class="btn btn-primary float-right" (click)="addEvent()">
                      Add new
                    </button>
                    <div class="clearfix"></div>
                  </h3>
                  
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Title</th>
                          <th>Primary color</th>
                          <th>Secondary color</th>
                          <th>Starts at</th>
                          <th>Ends at</th>
                          <th>Remove</th>
                        </tr>
                      </thead>
                  
                      <tbody>
                        <tr *ngFor="let event of events">
                          <td>
                            <input
                              type="text"
                              class="form-control"
                              [(ngModel)]="event.title"
                              (keyup)="refresh.next()"
                            />
                          </td>
                          <td>
                            <input
                              type="color"
                              
                              (change)="refresh.next()"
                            />
                          </td>
                          <td>
                            <input
                              type="color"
                              
                              (change)="refresh.next()"
                            />
                          </td>
                          <td>
                            <input
                              class="form-control"
                              type="text"
                              mwlFlatpickr
                              [(ngModel)]="event.start"
                              (ngModelChange)="refresh.next()"
                              
                              dateFormat="Y-m-dTH:i"
                              altFormat="F j, Y H:i"
                              placeholder="Not set"
                            />
                          </td>
                          <td>
                            <input
                              class="form-control"
                              type="text"
                              mwlFlatpickr
                              [(ngModel)]="event.end"
                              (ngModelChange)="refresh.next()"
                              
                              dateFormat="Y-m-dTH:i"
                              altFormat="F j, Y H:i"
                              placeholder="Not set"
                            />
                          </td>
                          <td>
                            <button class="btn btn-danger" (click)="deleteEvent(event)">
                              Delete
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  
                  <ng-template #modalContent let-close="close">
                    <div class="modal-header">
                      <h5 class="modal-title">Event action occurred</h5>
                      <button type="button" class="close" (click)="close()">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div>
                        Action:
                        <pre>{{ modalData?.action }}</pre>
                      </div>
                      <div>
                        Event:
                        <pre>{{ modalData?.event | json }}</pre>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-outline-secondary" (click)="close()">
                        OK
                      </button>
                    </div>
                  </ng-template> -->

      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>