

mat-card {
  height: 95%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}


#chart-line {
  width: 100%;
  /* margin: 35px auto; */
}

mat-icon {
  width: 100%;
  height: 100%;
  /* color: white; */
}

.bills-icon {
  font-size: 40px;
  display: inline;
  vertical-align: text-top;
  text-align: left;
}

.add-icon {
  font-size: 50px;
}

h3 {
  margin: 0 0 10px;
  /* color: white; */
}

pre {
  background-color: #f5f5f5;
  padding: 15px;
}

.patientButton {
  width: 120%;
  height: 50px;
  margin-top: 40px !important;
  font-size: 20px;
}

.billingButton {
  width: 120%;
  height: 50px;
  margin-top: 40px !important;
  font-size: 20px;
}

.vitalsBig {
  margin-top: 20px !important;
  font-size: 80px;
  /* color: white; */
  font-weight: 900;
}

.vitalsArrow {
  font-size: 100px;
  color: green;
  margin-top: 120px;
}

table {
  width: 100%;
  margin-top: 70px;
}

mat-progress-bar {
  margin-top: 8px;
}