<mat-dialog-actions style=" margin-top: -20px">
  <span style="display:flex; justify-content:flex-end; width:100%; padding:0;">
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </span>
</mat-dialog-actions>
<div class="text-center m-3"> <button mat-flat-button color="primary" (click)="printDiv()">Print</button></div>

<div id="pdfTable" #pdfTable>
  <div class="container-fluid my-2">
    <mat-dialog-content>
      <div class="border border-5 rounded-3 p-2 mb-2 mx-auto border-dark" style="width: 99%">
        <div class="row">
          <div class="col-md-12">
            <h1 class="display-1 text-center heading align-middle">
              {{ hospitalName }}
            </h1>
          </div>
        </div>
        <!-- <div class="row">
          <div class="col-md-12">
            <h2 class="display-4 text-center align-middle" style="margin-bottom: 0px">
              {{ hospitalSubtext }}
            </h2>
          </div>
        </div> -->
        <div class="row">
          <div class="col-md-12">
            <h3 class="display-5 text-center align-middle" style="margin-bottom: 0px">
              {{ hospitalAddress }}
            </h3>
          </div>
        </div>
      </div>
      <div class="row border-2 border-bottom border-dark">
        <div class="row">
          <div class="col-md-12">
            <h3 class="display-2 text-center align-middle" style="margin-bottom: 10px; font-size: 1.2rem">
              <strong>
                Bill Recipt
              </strong>
            </h3>
          </div>
        </div>
      </div>
      <div class="row my-3">
        <div class="col-md-12">
          <table style="width: 100%">
            <tbody>
              <tr>
                <td style="width: 70%">
                  <table>
                    <tr>
                      <td>
                        <h4 class="display-5 align-middle" style="margin-bottom: 0px">
                          <strong>
                            Name
                          </strong>
                        </h4>
                      </td>
                      <td>
                        <h4 class="display-5 align-middle" style="margin-bottom: 0px">
                          : {{ patientName | titlecase }}
                        </h4>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <h4 class="display-5 align-middle" style="margin-bottom: 0px">
                          <strong>
                            Mobile Number
                          </strong>
                        </h4>
                      </td>
                      <td>
                        <h4 class="display-5 align-middle" style="margin-bottom: 0px">
                          : {{ patientMobileNumber }}
                        </h4>
                      </td>
                    </tr>
                    <!-- <tr>
                      <td>
                        <h4 class="display-5 align-middle" style="margin-bottom: 0px">
                          <strong>
                            ID
                          </strong>
                        </h4>
                      </td>
                      <td>
                        <h4 class="display-5 align-middle" style="margin-bottom: 0px">
                          : {{ patientId }}
                        </h4>
                      </td>
                    </tr> -->
                    <tr>
                      <td>
                        <h4 class="display-5 align-middle" style="margin-bottom: 0px">
                          <strong>
                            Examined By
                          </strong>
                        </h4>
                      </td>
                      <td>
                        <h4 class="display-5 align-middle" style="margin-bottom: 0px">
                          : {{ referredBy | titlecase}}
                        </h4>
                      </td>
                    </tr>
                  </table>
                </td>
                <td>
                  <table>
                    <tr>
                      <td>
                        <h4 class="display-5 align-middle" style="margin-bottom: 0px">
                          <strong>
                            Bill Date
                          </strong>
                        </h4>
                      </td>
                      <td>
                        <h4 class="display-5 align-middle" style="margin-bottom: 0px">
                          : {{ billDate | date: 'dd/MM/yyyy' }}
                        </h4>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <h4 class="display-5 align-middle" style="margin-bottom: 0px">
                          <strong>
                            Bill Number
                          </strong>
                        </h4>
                      </td>
                      <td>
                        <h4 class="display-5 align-middle" style="margin-bottom: 0px">
                          : {{ billNumber }}
                        </h4>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <h4 class="display-5 align-middle" style="margin-bottom: 0px">
                          <strong>
                            Bill Status
                          </strong>
                        </h4>
                      </td>
                      <td>
                        <h4 class="display-5 align-middle" style="margin-bottom: 0px">
                          : {{ billStatus | uppercase }}
                        </h4>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row border-2 border-top border-dark mb-2">
        <div class="col-md-12 mx-auto">
          <table class="table table-borderless">
            <thead class="table-dark">
              <tr>
                <th style="width: 5%"> </th>
                <th style="width: 50%">Service Particulars</th>
                <th class="text-end" style="width: 15%">Unit Price</th>
                <th class="text-end" style="width: 15%">Discount</th>
                <th class="text-end" style="width: 15%">Total Price</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <tr *ngFor="let service of services; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ service.serviceName }}</td>
                <td class="text-end">₹ {{ service.servicePrice | number: '1.2-2'}}</td>
                <td class="text-end">₹ {{ service.serviceDiscount | number: '1.2-2'}} ({{ service.serviceDiscountPct }}%) </td>
                <td class="text-end">₹ {{ service.serviceNetPrice | number: '1.2-2'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row border-2 border-bottom border-dark mb-2">
        <div class="col-md-12 mx-auto" *ngIf="refundSection">
          <table class="table table-borderless">
            <thead class="table-dark">
              <tr>
                <th style="width: 5%"> </th>
                <th style="width: 50%">Refund</th>
                <th class="text-end" style="width: 100%">Refund Price</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <tr *ngFor="let service of refundServices; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ service.service }}</td>
                <td class="text-end">₹ {{ service.refund | number: '1.2-2'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mx-auto">
          <table class="mx-auto" style="width: 90%">
            <tbody>
              <tr>
                <td style="width: 80%">
                  <table>
                    <tr>
                      <td>
                        <h4 class="display-5 align-middle" style="margin-bottom: 0px">
                          <strong>
                            Payment Mode
                          </strong>
                          : {{ paymentMode | uppercase }}
                        </h4>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2">
                        <h4 class="display-5 align-middle" style="margin-bottom: 0px">
                          {{ amountInWords | uppercase }}
                        </h4>
                      </td>
                    </tr>
                  </table>
                </td>
                <td>
                  <table>
                    <tr>
                      <td>
                        <h4 class="display-5 align-middle" style="margin-bottom: 0px">
                          <strong>
                            Billed Amount
                          </strong>
                        </h4>
                      </td>
                      <td>
                        <h4 class="display-5 align-middle" style="margin-bottom: 0px">
                          : ₹ {{ billedAmount + totalrefund }}
                        </h4>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <h4 class="display-5 align-middle" style="margin-bottom: 0px">
                          <strong>
                            Total Refund
                          </strong>
                        </h4>
                      </td>
                      <td>
                        <h4 class="display-5 align-middle" style="margin-bottom: 0px">
                          : ₹ {{ totalrefund }}
                        </h4>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <h4 class="display-5 align-middle" style="margin-bottom: 0px">
                          <strong>
                            Final Amount
                          </strong>
                        </h4>
                      </td>
                      <td>
                        <h4 class="display-5 align-middle" style="margin-bottom: 0px">
                          : ₹ {{ finalAmount }}
                        </h4>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <h4 class="display-5 align-middle" style="margin-bottom: 0px">
                          <strong>
                            Recieved Amount
                          </strong>
                        </h4>
                      </td>
                      <td>
                        <h4 class="display-5 align-middle" style="margin-bottom: 0px">
                          : ₹ {{ recievedAmount }}
                        </h4>
                      </td>
                    </tr>
                    <!-- <td style="padding-left: 50px;">
                        <h4 class="display-5 align-middle" style="margin-bottom: 0px">
                          <strong>
                            Bill Discount
                          </strong>
                        </h4>
                      </td>
                      <td>
                        <h4 class="display-5 align-middle" style="margin-bottom: 0px">
                          : {{ discountedAmount }}
                        </h4>
                      </td> -->
                    <!-- <td style="padding-left: 50px;"> -->
                    <tr>
                      <td>
                        <h4 class="display-5 align-middle" style="margin-bottom: 0px">
                          <strong>
                            Balance Amount
                          </strong>
                        </h4>
                      </td>
                      <td>
                        <h4 class="display-5 align-middle" style="margin-bottom: 0px">
                          : ₹ {{ balanceAmount }}
                        </h4>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </mat-dialog-content>
  </div>

</div>